@font-face {
    font-family: pongCloneFont;
    src: url(atariFull.ttf);
}

body {
	background-color: #FCEC66;
}

canvas {
	margin-left: 25vw; 
	margin-top: 5vh;
}

h1 {
	margin: 1% 40%;
	padding-top: 0;
	white-space: nowrap;
	font-family: pongCloneFont;
	text-transform: uppercase;
}

.watermark {
 position: fixed;
 bottom: 5px;
 right: 45px;
 opacity: 0.5;
 z-index: 99;
 color: grey;
 font-size: 25px;
 font-family: "Lucida Sans Unicode";
}

.watermark a:link {
  color: grey;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: grey;
}

a:hover {
  text-decoration: underline !important;
}
